/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* --------------blue-bg------------ */

.background {
    width: 100%;
    background-color: #2D25A0;
}


/*---------------- navbar------------ */
.navbar {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 67px;
}

.nav-right {

    padding-right: 124px;
    border: 1px solid #E02C6D;
    border-radius: 2px;
    background-color: #E02C6D;
}

.nav-option {
    padding-left: 156px;
    margin-top: 42px;

}

.login {
    margin-right: 124px;
    margin-top: 42px;
}

.login,
.watch-live {
    display: flex;
    border: 1px solid #E02C6D;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    margin-left: 156px;
    padding: 10px 24px;
    align-items: center;
    border-radius: 15px;
}

.login a,
.watch-live a {
    margin-left: 18px;
}

.login i {
    padding-right: 8px;
}

i {
    padding-left: 8px;
}

h1 {
    color: #FFFFFF;
    font-size: 64px;
    margin-left: 156px;
    line-height: 80px;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-right: 100PX;
}



a {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 15px;
    padding: 10px;
}

/* 1st background design */
.bg {
    display: flex;

}


/* banner design */
.poster img {
    width: 410px;
    /* height: 620;S */

    margin-bottom: 100px;
    margin-right: 200PX;
}



/*------------------- player -------------*/

.players {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    background-color: #FFFFFF;
    margin-left: 180px;
    margin-top: 70px;
    margin-right: 210px;
}

.player {
    width: 330px;
    height: 474px;
    grid-gap: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.photo-frame {
    width: 330px;
    height: 474px;
    margin: 15px 15px;
}

.photo img {
    width: 300px;
    height: 256px;
}

.details {
    width: 300px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
}


/*---------------- Highlight------------------ */
.highlight {
    display: flex;
    flex-direction: row;

    margin-left: 182px;
    margin-top: 224px;



}

.header {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    font-style: normal;
}

.highlight-details {
    width: 469px;
    height: 309px;



}



.match img {
    width: 480px;
    height: 427px;
    margin-right: 75px;
    margin-left: 66px;



}

.watch-now {
    display: flex;
    flex-direction: row;
    border: 1px solid #E02C6D;
    background-color: #E02C6D;
    border-radius: 15px;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    align-items: center;
    margin-top: -220px;
}

.text {
    margin-left: 15px;
}


/*----------------- footer------------r */

.logo-part {

    width: 240.87px;
    height: 100px;
    margin-left: 430px;
    margin-top: 79px;
    align-items: center;
}

.logo img {
    width: 483.87px;
    height: 110px;
}

.icon {

    display: flex;
    flex-direction: row;
    margin-left: 180px;




}

.icon i {

    color: black;
    margin-left: -25px;

}

.copyright {
    text-align: center;
    margin-top: 60px;
    font-weight: bold;

}




/*------------------ Hover---------------- */
@keyframes sliding {
    0% {
        background-color: red;


    }

    25% {
        background-color: yellow;

    }

    50% {
        background-color: green;
    }

    75% {
        background-color: darkviolet;
    }



    100% {
        background-color: #E02C6D;
    }

}

.watch-live,
.watch-now {
    background-color: chartreuse;
    animation: sliding 2s ease-in-out 0.1s infinite alternate;
    animation-play-state: running;
    position: relative;
}

.login {
    transition: transform 1s;

}



.login:hover {
    background-color: red;
    transform: rotate(360deg);
}

.poster img:hover {
    transform: scale(1.50);
    transition: transform 1s;
}

h1:hover {
    color: red;
    transform: scale(1.25);
    transition: transform 1s ease-in-out;
}











/* -----------------Media Query------------------- */



/*------------------------- Mobile devices-------------------- */


@media only screen and (max-width: 688px) {
    .background {
        width: 100%;
        background-color: red;
    }

    /* .navbar,
    .players,
    .highlight,
    .logo-part,
    .logo,
    .last {

        grid-template-columns: repeat(1, 1fr);
    }

    .logo,
    .icon {
        flex-direction: column;
    } */


}